

<div class="container">

    <div class="row">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Course Name</span>
            </div>
            <input type="text" #name (change)="0" class="form-control" placeholder="Enter Course Name" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Course Summary</span>
              </div>
              <input type="text" #summary (change)="0" class="form-control" placeholder="Enter Course Name" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <button type="button" class="btn btn-primary" (click)="addCourse(name.value, summary.value)">Add Course</button>
          
    </div>

    <hr/>

  <div class="row">

      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search for Courses</span>
          </div>
          <input type="text" #search (keyup)="0" class="form-control" placeholder="Enter Course Name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
  </div>


  <div class="row">

   <my-card *ngFor="let course of courses| searchCourses:search.value; let i = index" title={{course.title}} summary={{course.summary}} key={{i}} (courseDeleted)="handleCourseDeletion($event)"></my-card>

  </div>


  <hr/>

 <my-workout></my-workout>

  <h3>Logs--</h3>

  <child-one></child-one>
  <child-two></child-two>

</div>