
{{title | capitalize}}
{{now | date: 'short'}}

<div class="container">
  <div class="row">

      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search for Courses</span>
          </div>
          <input type="text" #search (keyup)="0" class="form-control" placeholder="Enter Course Name" aria-label="Username" aria-describedby="basic-addon1">
         
        </div>
        
  </div>


  <div class="row">

   <my-card *ngFor="let course of courses | searchCourses:search.value" title={{course.title}} summary={{course.summary}}></my-card>

  </div>

</div>